node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
VITE_SUPABASE_URL=https://zthdfepepimgeafqrxrv.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0aGRmZXBlcGltZ2VhZnFyeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNzczNzMsImV4cCI6MjA5Njk1MzM3M30.cM8rnM8i6h3xyhwoDPd_y_UI8Pr3JLktK4S00vCkyK4

